.heading-small{
    font-size: 1,25rem;
}

.heading-medium{
    font-size: 1.5rem;
}

.heading-big{
    font-size: 2rem;
}

.bg-red{
    background-color: #c70101;

}

.bg-yellow{
    background-color: #ebae34;
}

.text-center{
    text-align: center;
}
